In [20]:
def table_process(table_topic,input_data):
    
    
    def sentiment_analyzer_scores(sentence):
        analyser = SentimentIntensityAnalyzer()
        score = analyser.polarity_scores(sentence)
        return("{}".format(str(score)))
   
    sentiment_eval=[sentiment_analyzer_scores(i) for i in input_data]
    sent_score=[ast.literal_eval(i) for i in  sentiment_eval]
    sent_table=pd.DataFrame(sent_score)
    sent_table['Document_No']=sent_table.index
    sent_table=sent_table[['compound','Document_No']]
    table_sentiment=table_topic.merge(sent_table, on=['Document_No'])
    table_sentiment.loc[table_sentiment.Topic_Name=="None" ,'compound']=0
    return(table_sentiment)

In [9]:
import numpy as np
import pandas as pd
import gensim
import gensim.corpora as corpora
from gensim.utils import simple_preprocess
from gensim.models import CoherenceModel

import spacy
from spacy.lemmatizer import Lemmatizer
from spacy.lang.en import English, STOP_WORDS
# from en_core_web_lg import *
# import en_core_web_lg

from tqdm import tqdm_notebook as tqdm
from pprint import pprint
import pickle

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import ast

In [7]:
  def sentiment_analyzer_scores(sentence):
        analyser = SentimentIntensityAnalyzer()
        score = analyser.polarity_scores(sentence)
        return("{}".format(str(score)))

In [3]:
import pickle

In [4]:
def load_data ( path ):

    with open ( path , 'rb' ) as f:
        trip_ad = pickle.load ( f )
        Time_Table = trip_ad[ [ 'Date' , 'rating' ] ]
        # file_name = '/Users/niloofar/Documents/insight/data/cleaned/hotel2/doc_pos'
        input_data = list ( trip_ad[ 'Review' ] )
    return input_data , Time_Table

In [5]:
 input_data,Time_table=load_data ( path='/Users/niloofar/Documents/insight/data/cleaned/hotel2/trip_ad')

In [10]:
sentiment_eval=[sentiment_analyzer_scores(i) for i in input_data]

In [13]:
 sent_score=[ast.literal_eval(i) for i in  sentiment_eval]

In [15]:
 sent_table=pd.DataFrame(sent_score)

In [17]:
sent_table['Document_No']=sent_table.index

In [1]:
import pickle

In [5]:

with open("/Users/niloofar/Documents/insight/HotelWatch/result/Topic", 'rb') as f:
            dd = pickle.load(f)

In [7]:
set(dd.Keywords)

{'bar, sleep, trip, bus, shuttle, manager, couple, care, deal, reception',
 'bathroom, bed, elevator, floor, night, people, lobby, day, use, door',
 'carlos, line, disappoint, center, impress, touch, dine, job, doe, man',
 'miami, staff, location, view, cruise, night, service, place, restaurant, downtown',
 'reservation, star, fun, boat, drop, notice, bayview, checkout, attraction, transfer'}

In [9]:
dd1=dd[["Document_No",""]]

,Document_No,Dominant_Topic,Topic_Perc_Contrib,Keywords,Text,Date,rating
0,0,2.0,0.6225,"miami, staff, location, view, cruise, night, s...","No, seriously, don't stay here. Spend a few m...",January 2020,10
1,1,2.0,0.6300,"miami, staff, location, view, cruise, night, s...",Great central location for our first visit to ...,November 2019,50
2,2,0.0,0.3320,"bathroom, bed, elevator, floor, night, people,...",We stayed on a Friday night one week & the nex...,January 2020,30
3,3,5.0,0.3244,"bar, sleep, trip, bus, shuttle, manager, coupl...",From very friendly taxi driver who charged a r...,January 2020,50
4,4,2.0,0.3764,"miami, staff, location, view, cruise, night, s...","If you are looking for a friendly, modern hote...",January 2020,50

In [38]:
dd.rating[15]

'30'

In [23]:
dd.Keywords[14]

'bathroom, bed, elevator, floor, night, people, lobby, day, use, door'

In [16]:
with open("/Users/niloofar/Documents/insight/HotelWatch/result/sentiment_table", 'rb') as f:
            ss = pickle.load(f)

In [ ]:
table_topic=dd[["Document_No"]]

In [17]:
 table_sentiment=table_topic.merge(sent_table, on=['Document_No'])

      compound  Document_No
0      -0.4023            0
1       0.9285            1
2       0.2374            2
3       0.1303            3
4       0.9915            4
5       0.8442            5
6       0.6845            6
7       0.5119            7
8       0.8689            8
9       0.9402            9
10      0.7372           10
11     -0.2642           11
12      0.9624           12
13      0.9963           13
14     -0.7706           14
15     -0.5949           15
16     -0.1779           16
17     -0.6956           17
18     -0.5356           18
19     -0.4039           19
20     -0.7414           20
21      0.9022           21
22      0.7411           22
23      0.5815           23
24      0.5423           24
25     -0.4939           25
26      0.7351           26
27      0.9149           27
28      0.2449           28
29      0.4767           29
...        ...          ...
2630    0.9792         2630
2631   -0.6705         2631
2632    0.7506         2632
2633   -0.8016         2633
2634    0.8463         2634
2635    0.9536         2635
2636    0.9398         2636
2637    0.0000         2637
2638    0.9638         2638
2639    0.8852         2639
2640    0.0259         2640
2641    0.9928         2641
2642    0.9925         2642
2643    0.9817         2643
2644    0.9662         2644
2645    0.9948         2645
2646   -0.6908         2646
2647    0.9880         2647
2648    0.9893         2648
2649    0.1255         2649
2650    0.9183         2650
2651   -0.8126         2651
2652    0.8353         2652
2653    0.9751         2653
2654    0.9911         2654
2655    0.2144         2655
2656    0.6908         2656
2657    0.9501         2657
2658    0.4458         2658
2659    0.9875         2659

[2660 rows x 2 columns]