# predicting the type of the cuisine based on the type of the recipie:
 To identify this challenge, I would recommend to :
 1. finding the most frequent ingredients that are being used by different cuisine
 2. building the predictive model using gradients as features and type of the cuisine as label
     to do so, I got the whole list of the ingredinets that are being used in all the cuisines and then found the frequency of each one.
     then i limitted my selection by choosing the ingredients that appeared at least in 50 recipie (10% of lowest gruop)

# How could you design this to be robust enough to understand similarities / substitutions between ingredients? For each each major cuisine, what are the driving ingredients that characterize it?

For each cuisine group, we can find the most popular recipies and find the ingredients. then having a list of words for different class of cuisine enable us to perform similarity matrix to compare the number of similar elements for each pair of cuisine resepies. then we can find the cuisins having the most similar ingredients

In [2]:
import json
import pandas as pd
import requests

In [3]:
with open('./recipies.json') as json_file:
     data = json.load(json_file,encoding="utf-8")

In [4]:
recipie=pd.DataFrame(data)

In [5]:
recipie.head()

       cuisine     id                                        ingredients
0        greek  10259  [romaine lettuce, black olives, grape tomatoes...
1  southern_us  25693  [plain flour, ground pepper, salt, tomatoes, g...
2     filipino  20130  [eggs, pepper, salt, mayonaise, cooking oil, g...
3       indian  22213                [water, vegetable oil, wheat, salt]
4       indian  13162  [black pepper, shallots, cornflour, cayenne pe...

In [6]:
len(set(recipie.cuisine))

20

In [7]:
count_class=recipie["cuisine"].value_counts()

In [8]:
count_class

italian         7838
mexican         6438
southern_us     4320
indian          3003
chinese         2673
french          2646
cajun_creole    1546
thai            1539
japanese        1423
greek           1175
spanish          989
korean           830
vietnamese       825
moroccan         821
british          804
filipino         755
irish            667
jamaican         526
russian          489
brazilian        467
Name: cuisine, dtype: int64

In [9]:
df1=recipie[recipie.cuisine=="brazilian"]

In [10]:
df1.ingredients[1:10]

380    [eggs, hearts of palm, cilantro, coconut cream...
423     [sweetened condensed milk, butter, cocoa powder]
509           [lime, crushed ice, simple syrup, cachaca]
724    [sugar, corn starch, egg whites, boiling water...
834    [olive oil, low sodium chicken broth, cilantro...
841    [eggs, grating cheese, milk, tapioca flour, sa...
892    [coconut milk, frozen banana, pure acai puree,...
969    [kosher salt, dijon mustard, sweet paprika, bo...
972    [eggs, whole milk, extra-virgin olive oil, gar...
Name: ingredients, dtype: object

In [11]:
flatten = lambda l: [ item for sublist in l for item in sublist ]

In [12]:
list_tot=list(recipie.ingredients)
list_final=flatten(list_tot)

# total ingredients from all the recipe

In [13]:
len(set(list_final))

6714

In [14]:
result = sorted([(x, list_final.count(x)) for x in set(list_final)], key=lambda y: y[1])

In [15]:
result=pd.DataFrame(result)

In [16]:
result.columns=["ingredients","freq"]

# we select the gradients that at least appeared in 10% of the list recipie

In [17]:
result_final=result[result.freq>50]

In [18]:
len(result_final)

977

In [ ]:
cuisine_index=[]
for i in list(result_final.ingredients):
    recep_index=[]
    for j in range(0,len(list_tot)):
      
        if i in list_tot[j]:
            recep_index.append(j)
    
    cuisine_index.append(recep_index)

In [99]:
ingred=list(result_final.ingredients)

In [118]:
final_ingred=[]
for i in range(0, len(cuisine_index)):
    ss=[]
    for k in range(1,len(cuisine_index[i])+1):
        ss.append(ingred[i])
    df=pd.DataFrame({'ingred':ss,"id":cuisine_index[i]})
    final_ingred.append(df)

In [120]:
ingredients=pd.concat(final_ingred)

In [270]:
ingredients.head()

             ingred    id
0  clarified butter   709
1  clarified butter  2509
2  clarified butter  2709
3  clarified butter  2729
4  clarified butter  3067

# Merging the ingredients and cuisine table

In [144]:
rec_cuis=pd.merge(recipie[["cuisine","id"]], ingredients, on='id')

In [149]:
rec_cuis.head()

  cuisine     id         ingred         new_id
0   greek  10259    half & half  greek , 10259
1   greek  10259  ground pepper  greek , 10259
2   greek  10259   cream cheese  greek , 10259
3   greek  10259    heavy cream  greek , 10259
4   greek  10259  garlic powder  greek , 10259

In [148]:
rec_cuis['new_id'] = rec_cuis['cuisine'].str.cat(rec_cuis['id'].values.astype(str), sep=' , ')

In [150]:
rec_cuis1 = pd.get_dummies(rec_cuis.set_index('new_id')['ingred']).max(level=0)

In [156]:
rec_cuis1.reset_index(inplace=True)

In [157]:
rec_cuis1[['cuisine','id']] = rec_cuis1.new_id.str.split(",",expand=True,)

In [159]:
del rec_cuis1['new_id']

In [160]:
rec_cuis1.head()

,1% low-fat milk,2% reduced-fat milk,Anaheim chile,Gochujang base,Italian bread,Italian parsley leaves,Italian turkey sausage,Mexican cheese,Mexican cheese blend,Mexican oregano,...,yellow bell pepper,yellow corn meal,yellow onion,yellow peppers,yellow squash,yoghurt,yukon gold potatoes,zucchini,cuisine,id
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,greek,10259
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,southern_us,25693
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,filipino,20130
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,indian,22213
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,indian,13162

# Random Forest for Multi class classification
To build the multi class classification model, I choose my training and testing sets in such a way that I have sample from each class.
To this aim, I selected a subsample for each label and select 70-30 portion for training and testing samples

In [190]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
import sklearn.model_selection as model_selection
from sklearn.metrics import r2_score
from rfpimp import permutation_importances
import numpy as np
from sklearn.ensemble import ExtraTreesClassifier
import eli5
from eli5.sklearn import PermutationImportance

In [172]:
def test_train_selection(table,label):
    x_train_list=[]
    y_train_list=[]
    x_test_list=[]
    y_test_list=[]
    for i in label:
        df=table[table['cuisine']==i]
        X=df.loc[:, df.columns != 'cuisine']
        y=df['cuisine']
        X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, train_size=0.7,test_size=0.3, random_state=101)
        x_train_list.append(X_train)
        y_train_list.append(y_train)
        x_test_list.append(X_test)
        y_test_list.append(y_test)
    
    X_train=pd.concat(x_train_list)
    y_train=pd.concat(y_train_list)
    X_test=pd.concat(x_test_list)
    y_test=pd.concat(y_test_list)
    return(X_train,X_test,y_train,y_test)

In [173]:
label=set(rec_cuis1['cuisine'])
X_train,X_test,y_train,y_test=test_train_selection(rec_cuis1,label)

In [176]:
X=rec_cuis1.loc[:, df.columns != 'cuisine']
y=rec_cuis1['cuisine']

In [178]:
clf = RandomForestClassifier(n_estimators = 10000,max_depth=5, random_state=0)
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10000, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [212]:
y_pred=clf.predict(X_test)

In [213]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.1985956822469084

# Feature importance

In [185]:
# importances=clf.feature_importances_

In [194]:
# perm = PermutationImportance(clf, cv = None, refit = False, n_iter = 50).fit(X_train, y_train)
# perm_imp_eli5 = imp_df(X_train.columns, perm.feature_importances_)

In [253]:
import pandas as pd
feature_imp = pd.Series(clf.feature_importances_,index=X_train.columns).sort_values(ascending=False)
feature_imp.head(50)

id                        0.081435
fresh basil               0.027006
yellow onion              0.024863
frozen corn kernels       0.021019
green onions              0.020201
fresh ginger              0.018418
dry white wine            0.014921
tequila                   0.014888
marinara sauce            0.014467
baby spinach              0.013691
olive oil                 0.013632
rice                      0.013260
garlic                    0.013139
tamarind paste            0.012611
garlic cloves             0.012501
kosher salt               0.012295
hot red pepper flakes     0.012036
cooking oil               0.012006
ground black pepper       0.011809
lemon juice               0.011713
salt                      0.011517
cherry tomatoes           0.011469
water                     0.011394
onions                    0.011347
Thai red curry paste      0.011219
taco shells               0.011044
ground pepper             0.010876
butter                    0.010715
mango                     0.010699
heavy cream               0.010534
dates                     0.010353
chopped onion             0.010282
flour tortillas           0.010269
sugar                     0.010030
pepper                    0.010012
red wine vinegar          0.009909
heavy whipping cream      0.009578
extra-virgin olive oil    0.009532
lemon                     0.009392
jalapeno chilies          0.009311
peaches                   0.009305
anchovies                 0.009280
tomatoes                  0.009267
white vinegar             0.009178
all-purpose flour         0.009138
polenta                   0.008975
shallots                  0.008800
quickcooking grits        0.008791
lime                      0.008740
lemon zest                0.008687
dtype: float64

In [254]:
feature_imp=pd.DataFrame({'feature':feature_imp.index, 'score':feature_imp.values})

In [255]:
feature_imp=feature_imp[feature_imp.score>0.0015]['feature']

In [1]:
len(feature_imp)

NameError: name 'feature_imp' is not defined

Selecting the important featues having score greater than or equal to 0.001

# after feature selectioon

In [256]:
X_train=X_train[list(feature_imp)]
X_test=X_test[list(feature_imp)]

In [257]:
clf = RandomForestClassifier(n_estimators = 500,max_depth=4, random_state=0)
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=4, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [258]:
y_pred=clf.predict(X_test)

In [259]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.19838608258226786

# Conclusion